html {
	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}

body {
	font-family: 'Proxima Nova Regular', 'Helvetica Neue', "Hiragino Sans GB", Helvetica, Arial, sans-serif;
	margin: 0;
	width: 100%;
	font-size: 1.4em;
	color: #333332;
	text-rendering: optimizelegibility;
  	-webkit-font-smoothing: antialiased;
  	word-wrap: break-word;
}

article, aside, div, figure, figcaption, footer, header, nav, section, img, video, hr {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Proxima Nova Regular', 'Helvetica Neue', "Hiragino Sans GB", Helvetica, Arial, sans-serif;
	text-rendering: optimizelegibility;
  	-webkit-font-smoothing: antialiased;
  	color: #2c251d;
  	font-weight: normal;
}

strong {
	font-family: 'Proxima Nova Regular', 'Helvetica Neue', "Hiragino Sans GB", Helvetica, Arial, sans-serif;
  	text-rendering: optimizelegibility;
  	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.7em;
	margin: 1.5em 0 0.5em;
}

h4 {
	font-size: 1.2em;
	margin: 1.5em 0 0.5em;
}

h5 {
	font-size: 1.1em;
	float: right;
	width: 40%;
	color: #678;
	margin: 0.5em -20% 0.5em 1.5em;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: #4271B0;
}

.content {
	margin-bottom: 4em;
}

article a:hover {
	border-bottom: solid 0.15em #4271B0;  
}

ul {
  padding: 0;
}

del {
  text-decoration: line-through;
}

header {
	width: 90%;
	margin: 0 auto;
	height: 4em;
	max-width: 28em;
}

.logo {
	text-align: left;
	font-size: 45%;
	float: left;
	margin-top: -1em;
	z-index: 4;
	position: absolute;
}

.m {
	color: #333332;
}

.w {
	margin-left: -5px;
}

#m-abbr {
	display: none;
}

#w-abbr {
	display: none;
}

nav {
	text-align: right;
	font-size: 0.65em;
	float: right;
	margin-top: -0.4em;
}

nav li {
	display: inline;
	margin-left: 0.5em;
}

nav li a {
	color: #333332;
	padding-top: 0.15em;
}

nav li a:hover {
	border-top: solid 0.5em #4271B0;
}

button, a, button:hover, a:hover, pre, pre:hover, h1, ul.tags li a {
  -moz-transition: all linear 0.1s;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.selected {
	color: #4271B0;
	border-top: solid 0.5em #4271B0;
}

.twitter-bird {
	background-image: url(http://cdn.mckaywei.com/img/twitter-sprite.png);
	cursor: pointer;
	display: inline-block;
	height: 35px;
	width: 35px;
	position: fixed;
	top: 35px;
	right: 35px;
	opacity: 0.3;
	z-index:3;
    -webkit-transition: all 0.3s ease;
}

.twitter-bird:hover {
	-webkit-animation: fly 0.2s steps(3) 0 infinite;
	-moz-animation: fly 0.2s steps(3) 0 infinite;
	animation: fly 0.2s steps(3) 0 infinite;
	opacity: 100;
}

@-webkit-keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -105px 0; }
}
@-moz-keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -105px 0; }
}
@keyframes fly {
	from { background-position: 0 0; }
    to { background-position: -105px 0; }
}

.entry-title {
	width: 90%;
	margin: 2em auto;
	max-width:28em; 
}

.entry-title h1 a {
	color: #2c251d;
}

.entry-title h1 a:hover {
	color: #4271B0;
}

article {
	width: 90%;
	margin: 1em auto;
	line-height: 1.8;
	max-width: 28em;
}

figure {
	margin: 4em auto;
	max-width: 1000px;
}

.no-top {
	margin: 0 auto 4em;
	max-width: 1000px;
}

img {
	margin: 0 auto;
	max-width: 100%;
	width: auto;
}

figcaption {
	font-size: 0.75em;
	text-align: center;
	margin-top: 0.5em;
}

blockquote {
	border-left: 0.3em solid #4271B0;
	margin: 1.5em 0;
	padding: 0.0001em 1.5em;
	color: #999;
	font-size: 0.8em;
	line-height: 1.8;
}

.huge {
		max-width: 800px;
		color: #678;
		font-size: 1.4em;
		margin: 1.2em auto 1.2em;
		-webkit-hyphens:auto;
		hyphens: auto;
		-moz-hyphens: auto;
		border: none;
		padding: 0;
		text-align: left;
	}

.author {
	font-size: 0.6em;
	color: #666;
	margin-top: -2em;
	text-align: left;
}

.center {
	max-width: 800px;
	color: #678;
	font-size: 1.4em;
	margin: 1.2em auto 1.2em;
	-webkit-hyphens:auto;
	hyphens: auto;
	-moz-hyphens: auto;
	border: none;
	padding: 0;
	text-align: center;
}

footer {
	margin: 2em auto;
	text-align: center;
}

.main-footer {
	color: #999;
	font-size: 0.7em;
	margin: 3em auto 2em;
}

.read-more:hover {
	border-right: solid 0.3em #4271B0;
	border-bottom: none;
}

.read-more {
	padding-right: 0.15em;
}

.more {
	text-align: left;
	max-width: 32em;
	margin: 0 auto 4em;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: #fff;
	cursor: pointer;
	padding: 0 2em;
	display: inline-block;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon-arrow-right:before {
	content: "\e00d";
}

.btn-4 {
	color: #ddd;
	overflow: hidden;
}

.btn-4:active {
	border-color: #fff;
	color: #4271B0;
}

.btn-4:hover {
	background: #fff;
	color: #999;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 100%;
	line-height: 1.2;
	color: #999;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-4:active:before {
	color: #4271B0;
}

.btn-4c:before {
	left: 78%;
	opacity: 0;
	top: 0;
}

.btn-4c:hover:before {
	left: 85%;
	opacity: 1;
}

table {
	margin: 0.5em auto;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	width: 100%;
	cellpadding="5";
	cellspacing="0";
}

hr {
	margin: 2em auto;
	border: 1px solid #dededc;
	width: 20%;
}

article li {
	list-style-type: disc;
	margin-left: 1.5em;
	margin-bottom: 0.8em;
	font-size: 85%;
}

.highlight {
	position: relative;
}

.clear {
	font-size: 90%;
	color: #333;
	background: #fff;
	-webkit-font-smoothing:subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

pre {
	margin-bottom: 1em;
	padding: 0.35em;
	line-height: 1.5;
	background-color: #eee;
	border: 1px solid #eee;
	overflow-x: auto;
	font-size: 65%;
	color: #333;
	-webkit-font-smoothing: subpixel-antialiased;
	white-space:nowrap;
}

pre::-webkit-scrollbar {
	height: 15px;
	background-color: #fafafa;
	border-top: 1px solid #eee;
}

pre::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background: #d1d8e3;
}

code, pre {
	font-family: Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

code {
	color: #d14;
}

.c {
	color: #999988;
	font-style: italic;
	font-size: 80%
}

.notes {
	width: 100%;
	border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
	background: #fcfcfc;
	margin-top: 3em;
}

.notes a:hover {
	border-bottom: solid 0.15em #4271B0;
	color: #333332;
}

.note-content {
	max-width: 28em;
	width: 90%;
	margin: 2em auto;
}

.note-list {
	list-style-type: none;
}

.note-list li {
	margin-bottom: 1em;
}

.timeline {
	margin: 0 auto 3em;
	width: 90%;
	max-width: 28em;
}

.timeline li {
	list-style-type: none;
}

.year {
	margin: 3em auto 2em;
	border: solid 1px #cacaca;
	text-align: center;
	width: 160px;
	-webkit-border-radius:3em;
	-moz-border-radius:3em;
	-ms-border-radius:3em;
	-o-border-radius:3em;
	border-radius: 3em;
	padding: 0;
}

.year h2 {
	color: #cacaca;
}

.archive a:hover {
	border-bottom: solid 0.15em #4271B0;
	color: #333332;
}

.archive {
	margin-bottom: 1em;
}

time {
	position: relative;
	color: #747780;
	font-size: 80%;
	left: 10%;
}

.th:after {
	content: "th";
	position: absolute;
	font-size: 70%;
	top: -1px;
	color: #85878F;
	font-weight: 400;
	padding-left: 1px;
}

.st:after {
	content: "st";
	position: absolute;
	font-size: 70%;
	top: -1px;
	color: #85878F;
	font-weight: 400;
	padding-left: 1px;
}

.rd:after {
	content: "rd";
	position: absolute;
	font-size: 70%;
	top: -1px;
	color: #85878F;
	font-weight: 400;
	padding-left: 1px;
}

.nd:after {
	content: "nd";
	position: absolute;
	font-size: 70%;
	top: -1px;
	color: #85878F;
	font-weight: 400;
	padding-left: 1px;
}

.right {
	display: inline;
	position: absolute;
	left: 50%;
	border-left: solid 0.2em #eee;
	padding-left: 3em;
}

#stuff {
	max-width: 960px;
	margin: 4em auto;
	list-style: none;
	padding: 0 0 52px;
	width: 90%;
}

.tool {
	margin-bottom: 78px;
}

.tool:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.tool img {
	max-width: 50%;
	float: left;
	width: auto;
}

.tool div {
	float: right;
	max-width: 46%;
}

#disqus_thread {
	margin: 3em auto;
	width: 90%;
	max-width: 28em;
}

@media only screen and (max-width: 48.99em) {
	body {
		width: 100%;
		margin: 0 auto;
	}

	.content {
		width: 100%;
		margin: 0 auto 3em;
	}

	.logo {
		font-size: 0.7em;
		margin-top: 0.1em;
	}

	#m {
		display: none;
	}

	#w {
		display: none;
	}

	#m-abbr {
		display: inline;
	}

	#w-abbr {
		display: inline;
	}

	header {
		height: 3em;
	}

	.entry-title {
		margin: 1em auto;
	}

	h1 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

	figure {
		margin: 0 auto;
	}

	blockquote {
		font-size: 90%;
		padding-left: 1em;
	}

	.huge {
		width: 90%;
		color: #678;
		font-size: 1.2em;
		margin: 1.2em 0 1.2em;
		-webkit-hyphens:auto;
		hyphens: auto;
		-moz-hyphens: auto;
		text-align: left;
		margin: 0.5em auto;
	}

	.center {
		width: 90%;
		color: #678;
		font-size: 1.2em;
		margin: 1.2em 0 1.2em;
		-webkit-hyphens:auto;
		hyphens: auto;
		-moz-hyphens: auto;
		text-align: center;
		margin: 0.5em auto;
	}

	h5 {
	font-size: 1em;
	float: right;
	width: 30%;
	color: #678;
	margin: 0.3em auto 0.3em 1em;
	line-height: 1.4;
}

	.main-nav {
		display: none;
	}

	.twitter-bird {
		display: none;
	}

	.nav-toggle {
		position: fixed;
		right: 5%;
		top: 1em;
		z-index: 2;
	}

	.nav-bar {
		width: 20px;
		height: 4px;
		background-color: silver;
		margin-bottom: 4px;
		-webkit-transition:all 025s ease;
		transition: all 0.25s ease;
		-moz-transition: all 0.25s ease;
	}

	.nav-toggle:hover .nav-bar {
		background-color: #4271B0;
	}

	.push-menu {
		background-color: #fafafa;
		position: fixed;
		width: 100%;
		height: 200px;
		left: 0;
		top: -200px;
		overflow: hidden;
		z-index: 0;
		text-align: center;
		opacity: 0.95;
		box-shadow: 0px 1px 4px rgba(0,0,0,.2);
		-webkit-transition: none 0.3s linear;
		transition: none 0.3s linear;
		-moz-transition: none 0.3s linear;
		-o-transition: none 0.3s linear;
	}

	.push-menu-open {
		top: 6px;
	}

	.push-menu a:hover {
		border: none;
	}

	.push-menu ul {
		list-style-type: none;
		padding: 0;
		margin: 100px auto;
	}

	.push-menu li {
		float: left;
		width: 25%;
		margin: 0 auto;
		z-index: 4;
	}

	svg {
		display: block;
		width: 50px;
		height: 50px;
		margin: 0 auto;
	}

	.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	}

	.video embed,
	.video object,
	.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

	.right {
	border: none;
	padding: 0;
	}

	.time-list li {
	margin-bottom: 2em;
	}

	time {
	left: auto;
	}

	.year {
		border: none;
		margin-left: 0;
	}

	.tool img {
		max-width: 90%;
		margin: 0 auto;
		float: none;
	}

	.tool div {
		max-width: 90%;
		margin: 0 auto;
		float: none;
	}



}

@media only screen and (min-width: 20.01em) and (max-width: 48.99em) {

	.push-menu-open {
		top: 6px;
	}

}

@media only screen and (max-width: 20em) {

	.push-menu-open {
		top: 6px;
	}

	.push-menu {
		position: absolute;
	}

	.nav-toggle {
		position: absolute;
	}

	.notes {
		margin-top: 1em;
	}

	svg {
		display: block;
		width: 40px;
		height: 40px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 49em) {

	body {
		width: 100%;
		margin: 0 auto;
	}

	pre:after {
  		position: absolute;
  		content: "#code";
  		font-size: 80%;
  		font-weight: normal;
  		color: #d1d8e3;
  		left: -2.3em;
  		top: 8px;
  		-webkit-transform: rotate(-90deg);
  		-moz-transform: rotate(-90deg);
  		transform: rotate(-90deg);
  	}

  	.nav-butt {
  		display: none;
  	}

  	.push-menu {
  		display: none;
  	}

  	.video {
  		margin: 4em auto;
  		max-width: 977px;
  	}
}